.products__welcome-container {
  min-height: 300px;
  height: 40vh;
  background-image: url(/Header-shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roses__welcome-container {
  min-height: 300px;
  height: 60vh;
  background-image: url(/header-cart.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roses__header {
  font-size: 4rem;
  color: white;
}
.roses__description {
  font-size: 2rem;
  color: white;
}

.products__header {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px #0000002f;
}
