.nav-link {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.nav-link:hover {
    color: #ff641c;
    border-bottom: 1px solid #ff641c;
}
.nav-link.active {
    color: #ff641c;
    border-bottom: 1px solid #ff641c;
}

.navbar {
    background: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 991px) {
    .navbar {
      background: rgba(0, 0, 0, 0.6);
    }
  }


.navbar-brand {
    color: white;
}

.burger-menu{
    width: 25px;
    height: 30px;
}