.product__card-content {
  position: relative;
}
.product__badge{
  position: absolute;
  top: 0;
  right: 2rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  border: 1px solid;
  font-size: 0.8rem;
  font-weight: bold;
  padding:0.2rem;
}
.product__green-badge {
  border-color:  green;
  color: green;
}
.product__red-badge {
  border-color: red;
  color: red;
}
