.Home__welcome-container {
    background: url(https://ik.imagekit.io/cjvyejrxtm/cherry-laithang-DEAIMSWjxxI-unsplash_nJ3bTbJ6R.jpg)
        center center / cover no-repeat rgb(22, 48, 21);
    padding: 0px;
    margin: 0px auto;
    overflow: visible;
    height: 530px;
    color: whitesmoke;
    text-align: center;
    padding-top: 150px;
    font-family: Montserrat;
    font-weight: bold;
}

.Home__title {
    font-size: 60px;
    text-shadow: 2px 2px #0000002f;
}

.Home__paragraph {
    font-size: 20px;
    text-shadow: 2px 2px #0000002f;
}

@media only screen and (max-width: 320px) {
    .Home__paragraph {
        margin-bottom: 0;
    }
}

.Home__bnt-about-us {
    font-family: Montserrat;
    border-radius: 80px;
    background-color: #ffac45;
    border:2px solid #ffac45;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin:5px;
}

.Home__bnt-about-us:hover {
    color: rgb(42, 125, 46);
}
.Home__bnt-request {
    font-family: Montserrat;
    margin:5px;
    /*margin-left: 20px !important;
    border-radius: 30px;
    background-color: white;
    border: none;
    color: rgb(42, 125, 46);*/

    text-align: center;
    color: #f39200;
    letter-spacing: 0.1rem;
    border: 2px solid transparent;
    border-radius: 80px;
    background-color: white;
    font-weight: 600;
}

.Home__bnt-request:hover {
    font-family: Montserrat;
    background-color: #ffac45;
    border-color: #ffac45;
    color: white;
}


.beige-block {
    background-color: #fbf9f6;
}
.icon {
    width: 50px;
    height: 50px;
}
.services {
    background-color: white;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 992px) {
    .welcome__services {
        margin-top: -90px;
    }
}

@media (max-width: 992px) {
    .services-details {
        padding-block-end: 50px;
    }

    .services-text {
        text-align: center !important;
    }
}

.plus-link {
    color: #ff641c;
    border-bottom: 1px solid white;
}

.plus-link:hover {
    color: #ff641c;
    text-decoration: none;
    border-bottom: 1px solid #ff641c;
}

.text-dec {
    color: #ff641c;
    font-weight: 900;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    border: none;
}

.Home__btn-galery {
    text-align: center;
    color: #f39200;
    letter-spacing: 0.1rem;
    border: 2px solid #f39200;
    border-radius: 80px;
    background-color: white;
    font-weight: 600;
}

.Home__btn-galery:hover {
    color: white;
    background-color: #f39200;
    border-color: transparent;
}
.small-text{
    font-size: 12px;
}